extends layout.pug

block head
  title ユーザーログイン

block content
  .low
    .col-md-6.col-md-offset-3
      .page-header
        h1 ユーザーログイン
      form(action="/login" method="post")
        .form-group
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-envelope
            input.form-control(type="email" name="email" placeholder="example@example.com" required)
        .form-group
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input.form-control(type="password" name="password" placeholder="password" required)
        .form-group
          input.btn.btn-primary.btn-block(type="submit" name="ログイン")