extends layout.pug

block head
  title pacridon
  //- link(rel="stylesheet" href="/css/style.css")

block content
  #timeline.row
    .col-md-6.col-md-offset-3
      form(v-on:submit="postToot")
        .form-group
          textarea.form-control(v-model="newToot.body" name="toot" placeholder="今何してる?" required)
        .form-group
          input.btn.btn-primary.btn-block(type="submit" value="T O O T ! !")
      
      #toots
          .panel.panel-default(v-for="toot in toots")
            .panel-heading
              .pull-right
                button.btn.btn-danger.btn-xs(v-on:click="deleteToot($event, toot.id)")
                  .i.glyphicon.glyphicon-trash
              |{{toot.user_nickname}}
            .panel-body
              |{{ toot.body }}