extends layout.pug

block head
  title pacridon
  //- link(rel="stylesheet" href="/css/style.css")

block content
  .low
    .col-md-6.col-md-offset-3
      form(action="/new_toot" method="post")
        .form-group
          textarea.form-control(name="toot" placeholder="今何してる?" required)
        .form-group
          input.btn.btn-primary.btn-block(type="submit" value="T O O T ! !")
      
      #toots.panel-group
        each toot in toots
          .panel.panel-default
            .panel-body= toot.data.body

  script.
    window.addEventListener("DOMContentLoaded", function() {
      var toots = document.getElementById("toots");
      var ws = new WebSocket("ws://localhost:8000/api/timeline");
      ws.addEventListener("message", function(event) {
        var toot = JSON.parse(event.data);
        var panel = document.createElement("div");
        panel.className = "panel panel-default";
        var panelBody = document.createElement("div");
        panelBody.className = "panel-body";
        panelBody.innerText = toot.body;
        panel.appendChild(panelBody);
        toots.insertBefore(panel, toots.firstChild);
      })
    })